@font-face{
    font-family: "Open Sans";
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "Chronica";
    src: url(./завдання/fonts/ChronicaPro-Regular.ttf);
}
@font-face{
    font-family: "Bahij";
    src: url(./завдання/fonts/bahij-sultannahia.ttf);
}
